.clear-link-style{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: right;
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.formated-button{
    display: block;
    color: black;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    margin: 5px;
}
.formated-app{
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    margin: 1px;
}

.blue-button{
    color: white;
    background-color: #1a73e8;
    border: 1px solid transparent;
    border-radius: 4px;
}

.left-float{
    float: left;
}

#search-bar{
    margin: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    min-width: 75%;
    height: 15px;
}

#buttons-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-buttons{
    padding: 10px 15px;
    margin: 5px;
    border: none;
    background-color: hsl(1, 0%, 98%);
}

a:visited{
    text-decoration: none;
    color: black;
}

html{
    font-family: 'Noto Sans JP', sans-serif;
}

footer{
    background-color: hsl(1, 0%, 95%);
    margin-top: auto;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

form{
    width: 800px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

li{
    cursor: pointer;
}

button{
    cursor: pointer;
}

input:hover{
    box-shadow: 0 0 0.5em gray;
    
}

input{
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}
